<!-- app/views/comments/index.html.erb -->
<h1>Comments For Blog</h1>

<% @comments_blog.each do |comment| %>
  <div>
  <strong><%= comment.commentable_type %></strong>:
    <%= comment.commentable_type %>
    <strong><%= comment.user_id %></strong>:
    <%= comment.content %>
  </div>
<% end %>
<%= link_to 'Back to blog', blogs_path %>

<h1>Comments For Author</h1>

<% @comments_author.each do |comment| %>
  <div>
  <strong><%= comment.commentable_type %></strong>:
    <%= comment.commentable_type %>
    <strong><%= comment.user_id %></strong>:
    <%= comment.content %>
  </div>
<% end %>
<%= link_to 'Back to authors', authors_path %>