<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>|
<%= link_to 'create blog', new_author_blog_path(@author) %>
<%= link_to 'Create Comment', new_user_author_comment_path(@user, @author) %>





