<style>
error_explanation {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
    # width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.actions {
    margin-top: 15px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

</style>

<%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

    <%else%>
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,  :required => 'required',  placeholder: "Name" %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email,  :required => 'required', placeholder: "ex: example@gmail.com"  %>
    </div>
    <div class="field">
        <%= form.label :Phone_Number %>
        <%= form.text_field :phone,  :required => 'required', placeholder: "+91-1234567891" %>
    </div>
  
    <div class="field">
      <%= form.label :type %>
      <%= form.select :type, %w[User Admin SuperAdmin], prompt: 'Select a User type' , :required => 'required' %>
  </div>
    </div>
  
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password_digest,  :required => 'required',placeholder: "password"  %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <% end %>

  