<style>
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    margin-bottom: 20px;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 0px auto;
    background-color: #007bff;
    color: #fff;


}

a:hover {
    background-color: #fff;
    color:  #007bff;
    border-color: #0056b3;
}

button, input[type="submit"], input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0px auto;
    width: 100%
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #fff;
    color:  #007bff;

}

</style>
<% if flash[:alert].present? %>
    <div class="alert alert-danger">
        <%= flash[:alert] %>
    </div>
<% end %>
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Type</th>
      <th>Status</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.type %></td>
        <td><%= user.status %></td>
        <td><%= user.password_digest %></td>
        </tr>
        <% end %>
  </tbody>
</table>

<br>

<hr>
<%= link_to 'New User', new_user_path %><hr>
<%= link_to 'login User', login_path %><br>
<hr>
<%= button_to 'Logout user', logout_path, method: :delete %>
<hr>
<%= link_to 'create authoer', new_author_path %><hr>
